/*
|-----------------------------------------------------------------------------------------------------------------
| IMPORTS
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| MIXINS
|-----------------------------------------------------------------------------------------------------------------
*/
@colCharcoal01: #2D3C4B;
@colRed01: #ED5565;
@colRed02: #DA4453;
@colOrange01: #FC6E51;
@colOrange02: #E9573F;
@colYellow01: #FFCE54;
@colYellow02: #F6BB42;
@colGreen01: #CDC81E;
@colGreen02: #B6B21B;
@colCyan01: #4FC1E9;
@colCyan02: #3BAFDA;
@colBlue01: #5D9CEC;
@colBlue02: #4A89DC;
@colPurple01: #AC92EC;
@colPurple02: #967ADC;
@colMagenta01: #EC87C0;
@colMagenta02: #D770AD;
@colGreyLight01: #F5F7FA;
@colGreyLight02: #E6E9ED;
@colGreyMed01: #CCD1D9;
@colGreyMed02: #AAB2BD;
@colGreyDark01: #656D78;
@colGreyDark02: #434A54;

@colMenu: @colCyan02;

.transition-slow {
	transition: all 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}
.transition-cubic {
	transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
}

.box-shadow {
	-webkit-box-shadow: 0 0 3px 3px rgba(0,0,0,0.07);
	box-shadow: 0 0 2px 2px rgba(0,0,0,0.07);
}

/*
|-----------------------------------------------------------------------------------------------------------------
| STRUCTURE
|-----------------------------------------------------------------------------------------------------------------
*/
/** {
	outline: solid 1px #EBEBEB;
}
*/
body {
	position: relative;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 300;
}

h1.page-title {
	font-weight: 700;
}

.home-websites,
.home-graphics {
	position: absolute;
	top:-600px;
	/*top:100%;*/
	left:0;
	color:#FFF;
	padding:30px;
	background: #111;
	border-top: solid 3px @colMenu;
	z-index:-1;
	.row {
		position: relative;
	}
	/*.box-shadow;*/
	a {
		color: #777;
		&:hover {
			color: @colMenu;
		}
		
	}
	h3 {
		margin: 0 0 14px 0;
	}
	h4 {
		color: @colMenu;
		margin: 5px 0 3px 0;
	}
	p {
		font-size: 12px;
		line-height: 1.2;
	}
	img {
		margin-top: 4px;
	}
	hr {
		margin-left: -30px;
		margin-right: -30px;
		border-top: solid 1px rgba(0,0,0, 0.2);
		border-bottom: solid 1px rgba(255,255,255, 0.1);
	}
}

ul.nav.navbar-nav li.websites:hover > .home-websites,
ul.nav.navbar-nav li.graphics:hover > .home-graphics {
	transition: .2s;
	top:100%;
	left:0;
}

.triangle {
	position: absolute;
	top:50%;
	right:-23px;
	width: 0; 
	height: 0; 
	border-top: 8px solid transparent;
	border-bottom: 8px solid transparent;
	border-left: 8px solid #000;
}


/*
|-----------------------------------------------------------------------------------------------------------------
| MASTHEAD THIN
|-----------------------------------------------------------------------------------------------------------------
*/
.masthead-thin {
	position: relative;
	font-size: 13px;
	line-height: 2.3;
	color: #FFF;
	background: #000;
	height:30px;
	text-transform: uppercase;
	z-index: 21;
	.fa {
		color: @colMenu;
		margin-left: 15px;
	}
}


/*
|-----------------------------------------------------------------------------------------------------------------
| CONTAINER BANDS / HOLDERS
|-----------------------------------------------------------------------------------------------------------------
*/
.band-all {
	padding-top: 120px;
	padding-bottom: 80px;
}
.band-white {
	.band-all;
	background: #FFFFFF;
}
.band-grey {
	.band-all;
	background: #F5F5F5;
}
.col-md-4.span-no-padding {
	padding-left: 0;
	padding-right: 0;
}



/*
|-----------------------------------------------------------------------------------------------------------------
| MAIN MENU
|-----------------------------------------------------------------------------------------------------------------
*/
.container-menu {
	background: #FFF;
}
.navbar-default {
	background-color: #FFF;
	opacity: 0.95;
	border-color: @colMenu;
	-webkit-box-shadow: 0 0px 3px 3px rgba(0,0,0,0.1);
	box-shadow: 0 0px 3px 3px rgba(0,0,0,0.1);
}
.navbar-fixed-top {
	position: absolute;
	top: 30px;
	border-width: 0px 0px 3px;
	z-index: 20;
}

.navbar-default .navbar-nav > li > a {
	color: #000;
	background-color: white;
}

.navbar-default .navbar-nav > li > a:focus, 
.navbar-default .navbar-nav > li > a:hover {
	color: #FFF;
	background-color: @colMenu;
}
.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:focus, 
.navbar-default .navbar-nav > .active > a:hover {
	color: #FFF;
	background-color: @colMenu;
}
.navbar-nav > li > a {
	font-size: 1.5em;
	font-weight: 400;
	padding-top: 25px;
	padding-bottom: 25px;
	text-transform: uppercase;
	letter-spacing: -0.05em;
}
.navbar-nav > li > a.translate {
	transition: 0.15s;
}
.navbar-brand {
	float: left;
	height: 100%;
	padding: 25px;
	font-size: 18px;
	font-weight: 400;
	line-height: 20px;
	background: #000;
	&:hover {
		background-color: @colMenu !important;
	}
}
.navbar-brand.translate {
	transition: 0.15s;
}





/*
ul.nav li.dropdown:hover > ul.dropdown-menu {
	transition:all .2s linear;
	top:100%;
}*/


/*
|-----------------------------------------------------------------------------------------------------------------
| MOBILE MENU (OFF-CANVAS)
|-----------------------------------------------------------------------------------------------------------------
*/
nav#mobile {
	position: fixed;
	width: 44px;
	height: 44px;
	top: 0;
	right: 0;
	z-index: 12;
	background: @colMenu;
	transition: all .2s linear;
	&:hover {
		background: @colMenu;
	}
}

nav#mobile:hover #menuToggle span {
	background: #FFF;
}

#menuToggle {
	display: block;
	position: fixed;
	top: 15px;
	right: 12px;
	z-index: 11;
	-webkit-user-select: none;
	user-select: none;
}

#menuToggle input {
	display: block;
	width: 50px;
	height: 50px;
	position: absolute;
	top: -22px;
	right: -15px;
	cursor: pointer;
	opacity: 0; /* hide this */
	z-index: 12; /* and place it over the hamburger */
}

/* Just a quick hamburger */
#menuToggle span {
	display: block;
	width: 21px;
	height: 3px;
	margin-bottom: 3px;
	position: relative;
	background: #FFF;
	border-radius: 3px;
	z-index: 11;
	transform-origin: 4px 0px;
	transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),  background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0),  opacity 0.55s ease;
}

#menuToggle span:first-child { 
	transform-origin: 0% 0%; 
}

#menuToggle span:nth-last-child(2) { 
	transform-origin: 0% 100%; 
}

/* Transform all the slices of hamburger into a crossmark */
#menuToggle input:checked ~ span {
	opacity: 1;
	transform: rotate(45deg) translate(4px, -2px);
	background: #FFF;
}

/* But let's hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3) {
	opacity: 0;
	transform: rotate(0deg) scale(0.2, 0.2);
}

/* Ohyeah and the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
	opacity: 1;
	transform: rotate(-45deg) translate(3px, 4px);
}

/* Make this absolute positioned at the top left of the screen */
ul#menu {
	position: fixed;
	top:45px;
	left:0;
	width: 100%;
	padding: 0 0;
	background: #222;
	list-style-type: none;
	transform-origin: 0% 0%;
	transform: translate(100%, 0);
	.transition-cubic;
}

ul#menu li a  {
	font-size: 18px;
	display: block;
	padding: 10px 15px;
	text-transform: uppercase;
}

ul#submenu {
	display: none;
}
ul#submenu li a  {
	font-size: 14px;
	display: block;
	padding: 10px 15px;
	text-transform: uppercase;
}

ul#menu li {
	border-top: solid 1px #333;
	border-bottom: solid 1px #000;
}
ul#menu li:first-child {
	border-top: none;
}
ul#menu li:last-child {
	border-bottom: none;
}

ul#menu li a {
	color: #FFF;
	&:hover {
		background: @colMenu;
		transition: background .2s linear;
	}
}

ul#menu li a:hover i.fa {
	color: #FFF;
}

ul#menu li a i.fa {
	font-size: 16px;
	color: @colMenu;
	padding-right: 4px;
}




/* And let's fade it in from the left */
#menuToggle input:checked ~ ul {
	transform: scale(1.0, 1.0);
	opacity: 1;
}

.logo-large {
	position: absolute;
	font-size: 20px;
	background: @colMenu;
	padding:8px 12px;
	display: block;
	height: 44px;
	top: 0px;
	left: 0px;
	/*border-right: solid 1px #FFF;*/
	a {
		color: #FFF;
		&:hover {
			color: @colMenu;
			transition: color 0.5s linear;
		}
	}
}
.band-nav-mobile {
	font-size: 20px;
	position: fixed;
	top:0;
	width: 100%;
	height: 45px;
	padding: 8px 0 8px 60px;
	background: #FFF;
	border-bottom: solid 2px @colMenu;
	-webkit-box-shadow: 0 0px 3px 3px rgba(0,0,0,0.1);
	box-shadow: 0 0px 3px 3px rgba(0,0,0,0.1);
	z-index: 11;
	p {
		color: #000;
		font-weight: 400;
		letter-spacing: -0.05em;
		text-transform: uppercase;
	}
}


/*
|-----------------------------------------------------------------------------------------------------------------
| BOOTSTRAP OVERIDES!
|-----------------------------------------------------------------------------------------------------------------
*/
.row-no-padding {
	[class*="col-"] {
		padding-left: 0 !important;
		padding-right: 0 !important;
	}
}


/*
|-----------------------------------------------------------------------------------------------------------------
| TYPOGRAPHY
|-----------------------------------------------------------------------------------------------------------------
*/
.h1, h1 {
	font-size: 40px;
}

.h3, h3 {
	margin-top: 12px;
	margin-bottom: 10px;
}


/*
|-----------------------------------------------------------------------------------------------------------------
| LISTS
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| LINKS
|-----------------------------------------------------------------------------------------------------------------
*/
a,
a:hover,
a:active,
a:focus {
	color: #777;
	outline: none;
	text-decoration: none;
}

/*
|-----------------------------------------------------------------------------------------------------------------
| FORMS
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| TABLES
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| IMAGES
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| BUTTONS
|-----------------------------------------------------------------------------------------------------------------
*/
.btn {
	background: red;
	color: #FFF;
	border:none;
	border-radius: 0;
}

/*
|-----------------------------------------------------------------------------------------------------------------
| MISC
|-----------------------------------------------------------------------------------------------------------------
*/





/*
|-----------------------------------------------------------------------------------------------------------------
|-----------------------------------------------------------------------------------------------------------------
|
| START TUTORIAL CSS RULES BELOW
|
|-----------------------------------------------------------------------------------------------------------------
|-----------------------------------------------------------------------------------------------------------------
*/


/*
|-----------------------------------------------------------------------------------------------------------------
| HOVER SQUARES
|-----------------------------------------------------------------------------------------------------------------
*/
.square {
	position: relative;
	display: flex;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	transition: all 0.2s linear;
	overflow:hidden;
	h3 {
		margin-bottom: 20px;
	}
	&:hover .sample {
		color: #FFF;
		height:100%;
		transition: all 0.2s cubic-bezier(0.77, 0.2, 0.05, 1.0);
		cursor: pointer;
	}
	&:hover .sample h3 {
		-ms-transform: scale(1.5); /* IE 9 */
		-webkit-transform: scale(1.5); /* Safari */
		transform: scale(1.5); /* Standard syntax */
		line-height: 1.2;
		.transition-cubic
	}
}
.square:nth-child(odd) {
	.square;
	background: @colCyan01;
}
.square:nth-child(even) {
	.square;
	background: @colCyan02;
}
.sample {
	text-align: center;
	position: absolute;
	bottom:0;
	left: 0;
	width:100%;
	height:0;
	background: rgba(0,0,0,0.6);
	display: flex;
	flex-direction: column;
	justify-content: center; /* align horizontal */
	align-items: center; /* align vertical */
	transition: all 0.2s linear;
	overflow: hidden;
	line-height: .5;
}

/*
|-----------------------------------------------------------------------------------------------------------------
| 1. HOVER FRAME
|-----------------------------------------------------------------------------------------------------------------
*/
.hover-frame {
	position: relative;
	color: #777;
	background: #FFF;
	margin-top: 20px;
	border: solid 1px #EBEBEB;
	.box-shadow;
}

.hover-frame-content {
	position: relative;
	padding: 10px 20px;
	&:hover {
		background: #333;
		color: #FFF;
		cursor: pointer;
	}
	.transition-cubic;
}

.hover-frame-hidden {
	position: absolute;
	top:0;
	height:100%;
	width:100%;
	padding: 20px;
	color: #333;
	background: #FFF;
	opacity: 0;
	p {
		font-size: 14px;
		line-height: 1.4;
	}
	&:hover {
		height:100%;
		opacity: .85;
		cursor: pointer;
	}
	.transition-cubic;

}

.hover-frame-hidden:hover + a .hover-frame-content {
	color: #EEE;
	background: #FFF;
}

.hover-icon-search {
	position: absolute;
	color: #333;
	background: #FFF;
	top:0;
	right:0;
	padding: 10px 12px;
	opacity: .5;
}

.hover-frame:hover > .hover-icon-search {
	opacity: 0;
	display: none;
	background: none;
}




/*
|-----------------------------------------------------------------------------------------------------------------
| 2. ANIMATING CAROUSEL
|-----------------------------------------------------------------------------------------------------------------
*/
.screens {
	position: relative;
	cursor: pointer;
}
.show-text {
	position: absolute;
	left:0;
	bottom:0;
	padding: 60px;
	background: rgba(0,0,0, 0.8);
	width: 100%;
	height: 0;
	opacity: 0;
	.transition-slow;
	overflow: hidden;
}
.screens:hover .show-text {
	color: #FFF;
	opacity: 1;
	bottom:0;
	width: 100%;
	height: 100%;
}
.screens:hover img.test {
	opacity: 0.4;
	.transition-slow;
}
img {
	.transition-slow;

}


.carousel.slide {
	margin: 0 auto;
	padding: 35px 0;
	background-image: url('../img/web/iPhone_base.png');
    background-size: 320px 600px;
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    max-width: 340px;
    height: auto;
}

.carousel-control.left,
.carousel-control.right {
	background: none;
}

.carousel {
	h3 {
		font-weight: 300;
		position: absolute;
		width: 100%;
		top: 30px;
		text-align: left;
	}
}


.carousel-caption {
	bottom:0;
	left: 19%;
	right: 20%;
	color: #333;
	background: rgba(255,255,255, 0.85);
	padding: 12px 20px 4px 20px;
	text-align: left;
	text-shadow: none;
	&:hover {
		color: #FFF;
		background: rgba(0,0,0, 0.75);
		transition: background 1s ease-in;
		cursor: pointer;
	}
	p {
		font-size: 12px;
		line-height: 1.4;
	}
}

.item {
	height:600px;
	.slide-up {
		height: 100px;
		width: 600px;
	}
	img {
		opacity: 0;
		transform: translateZ( 0 ) rotateY(  180deg );
	}
	.carousel-caption {
		opacity: 0;
	}
}
.item.active {
	height: 600px;
	.slide-up {
		height: 0;
		width: 600px;
		.transition-slow;
	}
	img {
		opacity: 1;
		transition: all .3s ease-out;
		transform: translateZ( 0 ) rotateY(  360deg );
	}
	.carousel-caption {
		opacity: 1;
		.transition-slow;
	}
}



/*
|-----------------------------------------------------------------------------------------------------------------
| 3. KEYFRAMES CSS
|-----------------------------------------------------------------------------------------------------------------
*/
.ball {
	position: absolute;
	width: 100px;
	height: 100px;
	background: blue;
	border-radius: 100%;
	animation:gavin 0.9s linear infinite,
		moveleft 2s linear infinite;
}
.ball1 {
	position: absolute;
	width: 75px;
	height: 75px;
	background: green;
	border-radius: 100%;
	animation:gavin2 0.91s linear infinite,
		moveleft 2.1s linear infinite;
}
.ball2 {
	position: absolute;
	width: 50px;
	height: 50px;
	background: orange;
	border-radius: 100%;
	animation:gavin3 0.92s linear infinite,
		moveleft 2.2s linear infinite;
}
@keyframes gavin {
	0% { bottom:100%; }
	25% { bottom:0%; width:100px; height: 100px; }
	30% { bottom:0%; width:110px; height: 50px; }
	35% { bottom:0%; width:100px; height: 100px; }
	100% { bottom:100%; }
}
@keyframes gavin2 {
	0% { bottom:80%; }
	25% { bottom:0%; width:80px; height: 80px; }
	30% { bottom:0%; width:110px; height: 40px; }
	35% { bottom:0%; width:80px; height: 80px; }
	100% { bottom:80%; }
}
@keyframes gavin3 {
	0% { bottom:60%; }
	25% { bottom:0%; width:80px; height: 60px; }
	30% { bottom:0%; width:110px; height: 30px; }
	35% { bottom:0%; width:80px; height: 60px; }
	100% { bottom:60%; }
}
@keyframes moveleft {
	from { left:0; }
	to { left: 100%; }
}
@keyframes moveright {
	from { right:0; }
	to { right: 100%; }
}


/*
|-----------------------------------------------------------------------------------------------------------------
| 3. KEYFRAMES CSS
|-----------------------------------------------------------------------------------------------------------------
*/
.zelezny {
	width: 166px;
	height: 168px;
	margin: 2% auto;
	border: solid 5px #EBEBEB;
	border-bottom: solid 20px #EBEBEB;
	background: url('../img/zelezny.png') left center;
	animation: play-one;
	animation-timing-function: steps(12);
	animation-iteration-count: infinite;
	animation-duration: 1.8s;
	animation-delay: 4s;
}

@keyframes play-one {
	100% { background-position: -2000px; }
}

.waitakere-logo {
	width: 150px;
	height: 150px;
	margin: 2% auto;
	background: url('../img/waitakere-logo.png') left center;
	animation: play-two;
	animation-timing-function: steps(8);
	animation-iteration-count: infinite;
	animation-duration: 3.8s;
	animation-delay: 2s;
}

@keyframes play-two {
	100% { background-position: -1200px; }
}










/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {
	
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 979px) {
	
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
	
}

