/*
|-----------------------------------------------------------------------------------------------------------------
| IMPORTS
|-----------------------------------------------------------------------------------------------------------------
*/
/*
|-----------------------------------------------------------------------------------------------------------------
| MIXINS
|-----------------------------------------------------------------------------------------------------------------
*/
.transition-slow {
  -webkit-transition: all 0.15s linear;
          transition: all 0.15s linear;
}
.transition-cubic {
  -webkit-transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          transition: all 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.box-shadow {
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.07);
}
/*
|-----------------------------------------------------------------------------------------------------------------
| STRUCTURE
|-----------------------------------------------------------------------------------------------------------------
*/
/** {
	outline: solid 1px #EBEBEB;
}
*/
body {
  position: relative;
  font-family: 'Titillium Web', sans-serif;
  font-weight: 300;
}
h1.page-title {
  font-weight: 700;
}
.home-websites,
.home-graphics {
  position: absolute;
  top: -600px;
  /*top:100%;*/
  left: 0;
  color: #FFF;
  padding: 30px;
  background: #111;
  border-top: solid 3px #3BAFDA;
  z-index: -1;
  /*.box-shadow;*/
}
.home-websites .row,
.home-graphics .row {
  position: relative;
}
.home-websites a,
.home-graphics a {
  color: #777;
}
.home-websites a:hover,
.home-graphics a:hover {
  color: #3BAFDA;
}
.home-websites h3,
.home-graphics h3 {
  margin: 0 0 14px 0;
}
.home-websites h4,
.home-graphics h4 {
  color: #3BAFDA;
  margin: 5px 0 3px 0;
}
.home-websites p,
.home-graphics p {
  font-size: 12px;
  line-height: 1.2;
}
.home-websites img,
.home-graphics img {
  margin-top: 4px;
}
.home-websites hr,
.home-graphics hr {
  margin-left: -30px;
  margin-right: -30px;
  border-top: solid 1px rgba(0, 0, 0, 0.2);
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
}
ul.nav.navbar-nav li.websites:hover > .home-websites,
ul.nav.navbar-nav li.graphics:hover > .home-graphics {
  -webkit-transition: .2s;
          transition: .2s;
  top: 100%;
  left: 0;
}
.triangle {
  position: absolute;
  top: 50%;
  right: -23px;
  width: 0;
  height: 0;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  border-left: 8px solid #000;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| MASTHEAD THIN
|-----------------------------------------------------------------------------------------------------------------
*/
.masthead-thin {
  position: relative;
  font-size: 13px;
  line-height: 2.3;
  color: #FFF;
  background: #000;
  height: 30px;
  text-transform: uppercase;
  z-index: 21;
}
.masthead-thin .fa {
  color: #3BAFDA;
  margin-left: 15px;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| CONTAINER BANDS / HOLDERS
|-----------------------------------------------------------------------------------------------------------------
*/
.band-all {
  padding-top: 120px;
  padding-bottom: 80px;
}
.band-white {
  padding-top: 120px;
  padding-bottom: 80px;
  background: #FFFFFF;
}
.band-grey {
  padding-top: 120px;
  padding-bottom: 80px;
  background: #F5F5F5;
}
.col-md-4.span-no-padding {
  padding-left: 0;
  padding-right: 0;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| MAIN MENU
|-----------------------------------------------------------------------------------------------------------------
*/
.container-menu {
  background: #FFF;
}
.navbar-default {
  background-color: #FFF;
  opacity: 0.95;
  border-color: #3BAFDA;
  box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.1);
}
.navbar-fixed-top {
  position: absolute;
  top: 30px;
  border-width: 0px 0px 3px;
  z-index: 20;
}
.navbar-default .navbar-nav > li > a {
  color: #000;
  background-color: white;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #FFF;
  background-color: #3BAFDA;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #FFF;
  background-color: #3BAFDA;
}
.navbar-nav > li > a {
  font-size: 1.5em;
  font-weight: 400;
  padding-top: 25px;
  padding-bottom: 25px;
  text-transform: uppercase;
  letter-spacing: -0.05em;
}
.navbar-nav > li > a.translate {
  -webkit-transition: 0.15s;
          transition: 0.15s;
}
.navbar-brand {
  float: left;
  height: 100%;
  padding: 25px;
  font-size: 18px;
  font-weight: 400;
  line-height: 20px;
  background: #000;
}
.navbar-brand:hover {
  background-color: #3BAFDA !important;
}
.navbar-brand.translate {
  -webkit-transition: 0.15s;
          transition: 0.15s;
}
/*
ul.nav li.dropdown:hover > ul.dropdown-menu {
	transition:all .2s linear;
	top:100%;
}*/
/*
|-----------------------------------------------------------------------------------------------------------------
| MOBILE MENU (OFF-CANVAS)
|-----------------------------------------------------------------------------------------------------------------
*/
nav#mobile {
  position: fixed;
  width: 44px;
  height: 44px;
  top: 0;
  right: 0;
  z-index: 12;
  background: #3BAFDA;
  -webkit-transition: all .2s linear;
          transition: all .2s linear;
}
nav#mobile:hover {
  background: #3BAFDA;
}
nav#mobile:hover #menuToggle span {
  background: #FFF;
}
#menuToggle {
  display: block;
  position: fixed;
  top: 15px;
  right: 12px;
  z-index: 11;
  -webkit-user-select: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
}
#menuToggle input {
  display: block;
  width: 50px;
  height: 50px;
  position: absolute;
  top: -22px;
  right: -15px;
  cursor: pointer;
  opacity: 0;
  /* hide this */
  z-index: 12;
  /* and place it over the hamburger */
}
/* Just a quick hamburger */
#menuToggle span {
  display: block;
  width: 21px;
  height: 3px;
  margin-bottom: 3px;
  position: relative;
  background: #FFF;
  border-radius: 3px;
  z-index: 11;
  -webkit-transform-origin: 4px 0px;
          transform-origin: 4px 0px;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}
#menuToggle span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
}
#menuToggle span:nth-last-child(2) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
}
/* Transform all the slices of hamburger into a crossmark */
#menuToggle input:checked ~ span {
  opacity: 1;
  -webkit-transform: rotate(45deg) translate(4px, -2px);
          transform: rotate(45deg) translate(4px, -2px);
  background: #FFF;
}
/* But let's hide the middle one */
#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  -webkit-transform: rotate(0deg) scale(0.2, 0.2);
          transform: rotate(0deg) scale(0.2, 0.2);
}
/* Ohyeah and the last one should go the other direction */
#menuToggle input:checked ~ span:nth-last-child(2) {
  opacity: 1;
  -webkit-transform: rotate(-45deg) translate(3px, 4px);
          transform: rotate(-45deg) translate(3px, 4px);
}
/* Make this absolute positioned at the top left of the screen */
ul#menu {
  position: fixed;
  top: 45px;
  left: 0;
  width: 100%;
  padding: 0 0;
  background: #222;
  list-style-type: none;
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transform: translate(100%, 0);
          transform: translate(100%, 0);
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
          transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
ul#menu li a {
  font-size: 18px;
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
}
ul#submenu {
  display: none;
}
ul#submenu li a {
  font-size: 14px;
  display: block;
  padding: 10px 15px;
  text-transform: uppercase;
}
ul#menu li {
  border-top: solid 1px #333;
  border-bottom: solid 1px #000;
}
ul#menu li:first-child {
  border-top: none;
}
ul#menu li:last-child {
  border-bottom: none;
}
ul#menu li a {
  color: #FFF;
}
ul#menu li a:hover {
  background: #3BAFDA;
  -webkit-transition: background .2s linear;
          transition: background .2s linear;
}
ul#menu li a:hover i.fa {
  color: #FFF;
}
ul#menu li a i.fa {
  font-size: 16px;
  color: #3BAFDA;
  padding-right: 4px;
}
/* And let's fade it in from the left */
#menuToggle input:checked ~ ul {
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  opacity: 1;
}
.logo-large {
  position: absolute;
  font-size: 20px;
  background: #3BAFDA;
  padding: 8px 12px;
  display: block;
  height: 44px;
  top: 0px;
  left: 0px;
  /*border-right: solid 1px #FFF;*/
}
.logo-large a {
  color: #FFF;
}
.logo-large a:hover {
  color: #3BAFDA;
  -webkit-transition: color 0.5s linear;
          transition: color 0.5s linear;
}
.band-nav-mobile {
  font-size: 20px;
  position: fixed;
  top: 0;
  width: 100%;
  height: 45px;
  padding: 8px 0 8px 60px;
  background: #FFF;
  border-bottom: solid 2px #3BAFDA;
  box-shadow: 0 0px 3px 3px rgba(0, 0, 0, 0.1);
  z-index: 11;
}
.band-nav-mobile p {
  color: #000;
  font-weight: 400;
  letter-spacing: -0.05em;
  text-transform: uppercase;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| BOOTSTRAP OVERIDES!
|-----------------------------------------------------------------------------------------------------------------
*/
.row-no-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| TYPOGRAPHY
|-----------------------------------------------------------------------------------------------------------------
*/
.h1,
h1 {
  font-size: 40px;
}
.h3,
h3 {
  margin-top: 12px;
  margin-bottom: 10px;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| LISTS
|-----------------------------------------------------------------------------------------------------------------
*/
/*
|-----------------------------------------------------------------------------------------------------------------
| LINKS
|-----------------------------------------------------------------------------------------------------------------
*/
a,
a:hover,
a:active,
a:focus {
  color: #777;
  outline: none;
  text-decoration: none;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| FORMS
|-----------------------------------------------------------------------------------------------------------------
*/
/*
|-----------------------------------------------------------------------------------------------------------------
| TABLES
|-----------------------------------------------------------------------------------------------------------------
*/
/*
|-----------------------------------------------------------------------------------------------------------------
| IMAGES
|-----------------------------------------------------------------------------------------------------------------
*/
/*
|-----------------------------------------------------------------------------------------------------------------
| BUTTONS
|-----------------------------------------------------------------------------------------------------------------
*/
.btn {
  background: red;
  color: #FFF;
  border: none;
  border-radius: 0;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| MISC
|-----------------------------------------------------------------------------------------------------------------
*/
/*
|-----------------------------------------------------------------------------------------------------------------
|-----------------------------------------------------------------------------------------------------------------
|
| START TUTORIAL CSS RULES BELOW
|
|-----------------------------------------------------------------------------------------------------------------
|-----------------------------------------------------------------------------------------------------------------
*/
/*
|-----------------------------------------------------------------------------------------------------------------
| 1. HOVER FRAME
|-----------------------------------------------------------------------------------------------------------------
*/
.hover-frame {
  position: relative;
  color: #777;
  background: #FFF;
  margin-top: 20px;
  border: solid 1px #EBEBEB;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.07);
}
.hover-frame-content {
  position: relative;
  padding: 10px 20px;
  -webkit-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.89, 0.6);
          transition: all 0.4s cubic-bezier(0.17, 0.67, 0.89, 0.6);
}
.hover-frame-content:hover {
  background: #333;
  color: #FFF;
  cursor: pointer;
}
.hover-frame-hidden {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  padding: 20px;
  color: #333;
  background: #FFF;
  opacity: 0;
  -webkit-transition: all 0.4s cubic-bezier(0.17, 0.67, 0.89, 0.6);
          transition: all 0.4s cubic-bezier(0.17, 0.67, 0.89, 0.6);
}
.hover-frame-hidden p {
  font-size: 14px;
  line-height: 1.4;
}
.hover-frame-hidden:hover {
  height: 100%;
  opacity: .85;
  cursor: pointer;
}
.hover-frame-hidden:hover + a .hover-frame-content {
  color: #EEE;
  background: #FFF;
}
.hover-icon-search {
  position: absolute;
  color: #333;
  background: #FFF;
  top: 0;
  right: 0;
  padding: 10px 12px;
  opacity: .5;
}
.hover-frame:hover > .hover-icon-search {
  opacity: 0;
  display: none;
  background: none;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| 2. ANIMATING CAROUSEL
|-----------------------------------------------------------------------------------------------------------------
*/
.screens {
  position: relative;
  cursor: pointer;
}
.show-text {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 60px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 0;
  opacity: 0;
  -webkit-transition: all 0.2s cubic-bezier(0, 0.78, 0, 0);
          transition: all 0.2s cubic-bezier(0, 0.78, 0, 0);
  overflow: hidden;
}
.screens:hover .show-text {
  color: #FFF;
  opacity: 1;
  bottom: 0;
  width: 100%;
  height: 100%;
}
.screens:hover img.test {
  opacity: 0.4;
  -webkit-transition: all 0.2s cubic-bezier(0, 0.78, 0, 0);
          transition: all 0.2s cubic-bezier(0, 0.78, 0, 0);
}
img {
  -webkit-transition: all 0.2s cubic-bezier(0, 0.78, 0, 0);
          transition: all 0.2s cubic-bezier(0, 0.78, 0, 0);
}
.carousel.slide {
  margin: 0 auto;
  padding: 35px 0;
  background-image: url('../img/web/iPhone_base.png');
  background-size: 320px 600px;
  background-repeat: no-repeat;
  background-position: center;
  display: block;
  max-width: 340px;
  height: auto;
}
.carousel-control.left,
.carousel-control.right {
  background: none;
}
.carousel h3 {
  font-weight: 300;
  position: absolute;
  width: 100%;
  top: 30px;
  text-align: left;
}
.carousel-caption {
  bottom: 0;
  left: 19%;
  right: 20%;
  color: #333;
  background: rgba(255, 255, 255, 0.85);
  padding: 12px 20px 4px 20px;
  text-align: left;
  text-shadow: none;
}
.carousel-caption:hover {
  color: #FFF;
  background: rgba(0, 0, 0, 0.75);
  -webkit-transition: background 1s ease-in;
          transition: background 1s ease-in;
  cursor: pointer;
}
.carousel-caption p {
  font-size: 12px;
  line-height: 1.4;
}
.item {
  height: 600px;
}
.item .slide-up {
  height: 100px;
  width: 600px;
}
.item img {
  opacity: 0;
  -webkit-transform: translateZ(0) rotateY(180deg);
          transform: translateZ(0) rotateY(180deg);
}
.item .carousel-caption {
  opacity: 0;
}
.item.active {
  height: 600px;
}
.item.active .slide-up {
  height: 0;
  width: 600px;
  -webkit-transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
          transition: all 0.3s cubic-bezier(0.42, 0, 0.58, 1);
}
.item.active img {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
  -webkit-transform: translateZ(0) rotateY(360deg);
          transform: translateZ(0) rotateY(360deg);
}
.item.active .carousel-caption {
  opacity: 1;
  -webkit-transition: all 0.3s ease-out;
          transition: all 0.3s ease-out;
}
/*
|-----------------------------------------------------------------------------------------------------------------
| 3. KEYFRAMES CSS
|-----------------------------------------------------------------------------------------------------------------
*/
.ball {
  position: absolute;
  width: 100px;
  height: 100px;
  background: blue;
  border-radius: 100%;
  -webkit-animation: gavin 0.9s linear infinite,
		moveleft 2s linear infinite;
          animation: gavin 0.9s linear infinite,
		moveleft 2s linear infinite;
}
.ball1 {
  position: absolute;
  width: 75px;
  height: 75px;
  background: green;
  border-radius: 100%;
  -webkit-animation: gavin2 0.91s linear infinite,
		moveleft 2.1s linear infinite;
          animation: gavin2 0.91s linear infinite,
		moveleft 2.1s linear infinite;
}
.ball2 {
  position: absolute;
  width: 50px;
  height: 50px;
  background: orange;
  border-radius: 100%;
  -webkit-animation: gavin3 0.92s linear infinite,
		moveleft 2.2s linear infinite;
          animation: gavin3 0.92s linear infinite,
		moveleft 2.2s linear infinite;
}
@-webkit-keyframes gavin {
  0% {
    bottom: 100%;
  }
  25% {
    bottom: 0%;
    width: 100px;
    height: 100px;
  }
  30% {
    bottom: 0%;
    width: 110px;
    height: 50px;
  }
  35% {
    bottom: 0%;
    width: 100px;
    height: 100px;
  }
  100% {
    bottom: 100%;
  }
}
@keyframes gavin {
  0% {
    bottom: 100%;
  }
  25% {
    bottom: 0%;
    width: 100px;
    height: 100px;
  }
  30% {
    bottom: 0%;
    width: 110px;
    height: 50px;
  }
  35% {
    bottom: 0%;
    width: 100px;
    height: 100px;
  }
  100% {
    bottom: 100%;
  }
}
@-webkit-keyframes gavin2 {
  0% {
    bottom: 80%;
  }
  25% {
    bottom: 0%;
    width: 80px;
    height: 80px;
  }
  30% {
    bottom: 0%;
    width: 110px;
    height: 40px;
  }
  35% {
    bottom: 0%;
    width: 80px;
    height: 80px;
  }
  100% {
    bottom: 80%;
  }
}
@keyframes gavin2 {
  0% {
    bottom: 80%;
  }
  25% {
    bottom: 0%;
    width: 80px;
    height: 80px;
  }
  30% {
    bottom: 0%;
    width: 110px;
    height: 40px;
  }
  35% {
    bottom: 0%;
    width: 80px;
    height: 80px;
  }
  100% {
    bottom: 80%;
  }
}
@-webkit-keyframes gavin3 {
  0% {
    bottom: 60%;
  }
  25% {
    bottom: 0%;
    width: 80px;
    height: 60px;
  }
  30% {
    bottom: 0%;
    width: 110px;
    height: 30px;
  }
  35% {
    bottom: 0%;
    width: 80px;
    height: 60px;
  }
  100% {
    bottom: 60%;
  }
}
@keyframes gavin3 {
  0% {
    bottom: 60%;
  }
  25% {
    bottom: 0%;
    width: 80px;
    height: 60px;
  }
  30% {
    bottom: 0%;
    width: 110px;
    height: 30px;
  }
  35% {
    bottom: 0%;
    width: 80px;
    height: 60px;
  }
  100% {
    bottom: 60%;
  }
}
@-webkit-keyframes moveleft {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@keyframes moveleft {
  from {
    left: 0;
  }
  to {
    left: 100%;
  }
}
@-webkit-keyframes moveright {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}
@keyframes moveright {
  from {
    right: 0;
  }
  to {
    right: 100%;
  }
}
/*
|-----------------------------------------------------------------------------------------------------------------
| 3. KEYFRAMES CSS
|-----------------------------------------------------------------------------------------------------------------
*/
.zelezny {
  width: 166px;
  height: 168px;
  margin: 2% auto;
  border: solid 5px #EBEBEB;
  border-bottom: solid 20px #EBEBEB;
  background: url('../img/zelezny.png') left center;
  -webkit-animation: play-one;
          animation: play-one;
  -webkit-animation-timing-function: steps(12);
          animation-timing-function: steps(12);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 1.8s;
          animation-duration: 1.8s;
  -webkit-animation-delay: 4s;
          animation-delay: 4s;
}
@-webkit-keyframes play-one {
  100% {
    background-position: -2000px;
  }
}
@keyframes play-one {
  100% {
    background-position: -2000px;
  }
}
.waitakere-logo {
  width: 150px;
  height: 150px;
  margin: 2% auto;
  background: url('../img/waitakere-logo.png') left center;
  -webkit-animation: play-two;
          animation: play-two;
  -webkit-animation-timing-function: steps(8);
          animation-timing-function: steps(8);
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 3.8s;
          animation-duration: 3.8s;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
}
@-webkit-keyframes play-two {
  100% {
    background-position: -1200px;
  }
}
@keyframes play-two {
  100% {
    background-position: -1200px;
  }
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */
/* Medium devices (desktops, 992px and up) */
/* Large devices (large desktops, 1200px and up) */
